@import url('https://fonts.googleapis.com/css?family=Montserrat');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}   
.city{
    position: relative;
    width: 100%;
    height: 700px;
    background-image: url('images/revo.jpg');
    background-size: cover;
}
.centerH{
    position: relative;
    width: 170px;
    top: 30px;
}
.FS{
    color: thistle;
}
.botonContacto{
    top: -70px;
    position: relative;
    padding: 5px 10px;
    background-color: transparent;
    margin-left: 90%;
    font-size: 12pt;
    color: thistle;
    border: 2px solid thistle;
}
.botonContacto:hover{
    cursor: pointer;
}
.cuadroblaco1dad{
    position: relative;
    width: 100%;
    height: 190px;
    background-color:transparent;
    top: 11 0px;
  }
.cuadroBlanco{  
    float: right;
    background-color: white;
    width: 50%;
    height: 190px;
    text-align: justify;
    padding: 4.5%;
    font-size: 100%;
}
.cuadroTra{
    position: absolute;
    background-color: transparent;
    width: 50%;
    height: 190px;
    text-align: end;
    padding: 2.3%;
    font-size: 200%;
    color: white;
}
.barraRed{
    position: fixed;
    right: 0;
    z-index: 20;
    margin-top: 0;
    margin-bottom: 0; 
    width: 27px;
    height: 100%;
    background-color:rgb(228, 55, 55);
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}
.barraRedT{
margin-left: 5px;
color: white;
text-align: center;
}
.sectionTwo{
    position: absolute;
    width: 50%;
    height: 390px;
    text-align: justify;
    padding: 4.5%;
    background: white;
}
.center{
    text-align: center;
}
.sectionTre{
    position: relative;
    width: 50%;
    height: 390px;
    background: rgb(61, 60, 55);
    float: right;
}
.caja{
    width: 80%;
    margin-left: 10.5%;
    margin-top: 70px;
  }
  .caja li{
    width: 170px;
    height: 140px;
    display: inline-block;
    box-sizing: border-box;
  }
  .caja li img{
    width: 93%;
  }
  .cuadroblaco2dad{
    width: 100%;
    height: 190px;
    z-index: 10;
    position: relative;
    background-color:transparent;
    margin-top: -350px;
    font-size: 100%;
  }
  .cuadroBlanco2{
    z-index: 20;
    float: right;
    background-color: white;
    text-align: center;
    width: 25%;
    height: 190px;
    padding: 5%;
}
.cuadroBlanco3{
    z-index: 20;
    float: right;
    background-color:white;
    text-align: justify;
    width: 25%;
    height: 190px;
    padding: 5%;
}
.fooDad{
    position: relative;
    width: 100%;
    height: 80px;
    background: rgb(61, 60, 55);
    color: grey;
    margin-top: 155px;

    
}
.foo1{
    text-align: center;
    padding-top: 30px;
    height: 80px;
    width: 20%;
    float: left;

}
.foo2{
    float: right;
    height: 80px;
    width: 80%;

}
.foo2 li{
    padding-top: 33px;
    margin-left: 80px;
    display: inline-block;
    box-sizing: border-box;

}
@media screen and (max-width: 450px){
    
.cuadroBlanco{
    height: 240px;
}
.botonContacto{
    margin-left: 70%;
    margin-top: 150px;
}

.cuadroBlanco2{
    font-size: 60%;
}
}
@media screen and (max-width: 1325px){
    .li1{
        display: none;
    }   
    .fooDad{
        height: 220px;

    }
}
@media screen and (max-width: 884px){
    .li2{
        display: none;
    }   
    .caja li{
        width: 140px;
        height: 120px;
        margin-left: -12px;
        display: inline-block;
        box-sizing: border-box;
      }
    .cuadroBlanco2{
        width: 45%;
    }
}
@media screen and (max-width: 510px){
    .fooDad{
        height: 320px;

    }
    .cuadroTra{
        width: 97%;
        height: 120px;
        top: -70px;
        font-size: 150%;
        text-align: center;
    }
    .cuadroBlanco{
        position: absolute;
        width: 94%;
        height: 120px;
        top: 60px;
        padding:2%;
    }
    .botonContacto{
        top: -80px;
        margin-left: 35%;
    }
}